<ion-header>
  <ion-toolbar>
    <ion-title>Todo App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="todoForm" (ngSubmit)="todoSubmit(todoForm.value)">
      <ion-item>
        <ion-input type="text" formControlName="todo" placeholder="Add Todo"></ion-input>
        <ion-button (click)="addTodo(todoForm.value.todo)" [disabled]="!todoForm.valid">
          <ion-icon name="add"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-item>{{ todoArray.length }} Todos Remaining</ion-item>
      <ion-list *ngFor="let myTodo of todoArray">
        <ion-item>
          {{myTodo.text}}
          <ion-icon name="close" (click)="deleteItem(myTodo)"></ion-icon>
        </ion-item>
      </ion-list>
    </form>
</ion-content>
